.button {
    -fx-background-radius: 7px;
    -fx-background-color: gold;
}

.toggle-button {
    -fx-background-color: gold;
}

.toggle-button:selected {
    -fx-background-color: orange;
}

.root {
    -fx-background-color: rgb(80, 76, 76);
}

.label {
    -fx-text-fill: blue;
}


.column-header-background:row-selection .column-header-background .nested-column-header .table-column .label
{
    -fx-background-color: gold;
}

#currentScreenLabel, #countLabel, #reservationLabel, #guestLabel, #timeLabel {
    -fx-text-fill:cyan
}